body
{
    background-color:greenyellow;
    border-color:blue;
}

.Horari
{
    color:white;
    background-color: brown;
}

.Dies
{
    color:royalblue;
    background-color: tomato;
}

.Hora
{
    color:palegreen;
    background-color:midnightblue;
}

.Pati
{
    color: chocolate;
    background-color: indigo;
}

.Serveis
{
    color: mediumaquamarine;
    background-color: maroon;
}

.Seguretat
{
    color:thistle;
    background-color: olive;
}

.Sistemes
{
    color: turquoise;
    background-color:darkslategray;
}

.Aplicacions
{
    color: antiquewhite;
    background-color: darkcyan;
}


.EIE
{
    color: deepskyblue;
    background-color: gold;
}

.Web
{
    color:violet;
    background-color:forestgreen;
}